@use './variables' as *;
@use './grid' as *;
@use './fonts' as *;

body {
	font-family: $font-base, Arial, sans-serif;
	color: $color-black;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
	font-family: $font-title !important;
	font-weight: 400;
	text-transform: uppercase;
}

h1 {
	font-size: 40px;
	line-height: 60px;

	@media (min-width: $md) {
		font-size: 64px;
		line-height: 96px;
	}
	@media (min-width: $lg) {
		font-size: 80px;
		line-height: 120px;
	}
}

h2 {
	font-size: 64px;
	line-height: 96px;
}

h3 {
	font-size: 42px;
	line-height: 54px;
}

.text {
	&-center {
		text-align: center;
	}

	&-lg {
		font-size: 30px;
		line-height: 45px;
	}

	&-base {
		font-size: 18px;
		line-height: 27px;

		@media (min-width: $md) {
			font-size: 18px;
			line-height: 27px;
		}

		@media (min-width: $lg) {
			font-size: 24px;
			line-height: 36px;
		}
	}

	&-s {
		font-size: 18px;
		line-height: 27px;
	}
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: inherit;
}
