@font-face {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Forum-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Raleway-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Archeologicaps';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Archeologicaps 500.ttf') format('truetype');
  font-display: swap;
}
