$font-title: 'Forum', serif;
$font-base: 'Raleway', sans-serif;
$font-logo: 'Archeologicaps', serif;

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #1596C1;
$color-gray: #aaaaaa;
$color-gray-light: #cdcdcd;


	/* Variables for breakpoints and gaps */
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1440px;

$gap-mobile: 10px;
$gap-desktop: 20px;