@use './variables' as *;
@use './fonts' as *;
@use './reset' as *;
@use './base' as *;
@use './grid' as *;

button {
	font-family: Forum;
	font-size: 42px;
	line-height: 54px;
	text-transform: uppercase;
	border: 3px solid $color-white;
	display: inline-block;
	padding: 8px 42px;
	background-color: transparent;
	letter-spacing: 3px;
	color: inherit;
	transition: background-color .3s ease-in-out;

	@media screen and (max-width: 768px) {
		font-size: 24px;
		padding: 10px 4px;
		line-height: 1;
	}

	@media screen and (max-width: 400px) {
		padding: 11px 2px;
	}

	&:hover {
		outline: none;
		background-color: #cdcdcd;
	}

	&:active {
		outline: none;
		color: var(--black);
		background: var(--white);
	}
	&:focus-visible {
		outline: none;
	}
	&[disabled] {
		color: var(--grey);
		border-color: var(--grey);
		&:hover {
			background-color: transparent;
		}
	}
	&.icon {
		color: inherit;
		background-color: transparent;
		border: none;
		padding: 0;
		&:hover,
		&:active {
			outline: none;
			color: var(--grey);
			background-color: transparent;
		}
		@media screen and (max-width: 1024px) {
			transform: scale(0.5);
		}
		@media screen and (max-width: 400px) {
			transform: scale(0.65);
		}
	}
}


.book-card {
	border: 1px solid #eee;
	padding: 24px;
	height: 100%;

	&__title {
		font-size: 18px;
		margin-bottom: 12px;
	}

	&__genre {
		color: $color-gray;
		margin-bottom: 16px;
	}

	&__footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.about,
.harmony {
	// padding: 80px 0;
}

.newsletter {
	padding: 80px 0;
	text-align: center;

	&__form {
		display: flex;
		justify-content: center;
		gap: 16px;
		flex-wrap: wrap;
	}

	&__input {
		min-width: 280px;
		padding: 12px;
	}
}
