@use './variables' as *;
@use './fonts' as *;
@use './reset' as *;
@use './base' as *;
@use './grid' as *;

.button {
	font-family: Forum;
	text-transform: uppercase;
	border: 3px solid $color-white;
	display: inline-block;
	padding: 11px 2px;
	background-color: transparent;
	letter-spacing: 3px;
	color: inherit;
	transition: background-color 0.3s ease-in-out;

	@media (min-width: $md) {
		font-size: 24px;
		line-height: 36px;
		padding: 10px 4px;
	}

	@media (min-width: $lg) {
		font-size: 42px;
		line-height: 54px;
		padding: 8px 42px;
	}

	&:hover {
		outline: none;
		background-color: $color-gray-light;
	}

	&:active {
		outline: none;
		color: $color-black;
		background: $color-white;
	}
	&:focus-visible {
		outline: none;
	}
	&[disabled] {
		color: $color-gray;
		border-color: $color-gray;
		&:hover {
			background-color: transparent;
		}
	}
	&.icon {
		color: inherit;
		background-color: transparent;
		border: none;
		padding: 0;
		&:hover,
		&:active {
			outline: none;
			color: $color-gray;
			background-color: transparent;
		}
		@media screen and (max-width: 1024px) {
			transform: scale(0.5);
		}
		@media screen and (max-width: 400px) {
			transform: scale(0.65);
		}
	}
}

.flex {
	display: flex;
}

@media (max-width: $md) {
	.hide-xs {
		display: none !important;
	}
}

@media (max-width: $lg) {
	.hide-md {
		display: none !important;
	}
}

@media (min-width: $lg) {
	.hide-lg {
		display: none !important;
	}
}

.section-title {
	text-align: center;
	margin-bottom: 80px;

	@media (min-width: $md) {
		margin-bottom: 160px;
	}

	@media (min-width: $lg) {
		margin-bottom: 140px;
	}
}

.h-100 {
	height: 100% !important;
}

.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.self-center {
	justify-self: center;
	align-self: center;
}
