@use './variables' as *;
@use './fonts' as *;
@use './reset' as *;
@use './base' as *;
@use './grid' as *;

.button {
	font-family: Forum;
	text-transform: uppercase;
	border: 3px solid $color-white;
	display: inline-block;
	padding: 11px 2px;
	background-color: transparent;
	letter-spacing: 3px;
	color: inherit;
	transition: background-color 0.3s ease-in-out;

	@media (min-width: $md) {
		font-size: 24px;
		line-height: 36px;
		padding: 10px 4px;
	}

	@media (min-width: $lg) {
		font-size: 42px;
		line-height: 54px;
		padding: 8px 42px;
	}

	&:hover {
		outline: none;
		background-color: $color-gray-light;
	}

	&:active {
		outline: none;
		color: $color-black;
		background: $color-white;
	}
	&:focus-visible {
		outline: none;
	}
	&[disabled] {
		color: $color-gray;
		border-color: $color-gray;
		&:hover {
			background-color: transparent;
		}
	}
	&.icon {
		color: inherit;
		background-color: transparent;
		border: none;
		padding: 0;
		&:hover,
		&:active {
			outline: none;
			color: $color-gray;
			background-color: transparent;
		}
		@media screen and (max-width: 1024px) {
			transform: scale(0.5);
		}
		@media screen and (max-width: 400px) {
			transform: scale(0.65);
		}
	}
}

// .book-card {
// 	border: 1px solid #eee;
// 	padding: 24px;
// 	height: 100%;

// 	&__title {
// 		font-size: 18px;
// 		margin-bottom: 12px;
// 	}

// 	&__genre {
// 		color: $color-gray;
// 		margin-bottom: 16px;
// 	}

// 	&__footer {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}
// }

.about,
.harmony {
	// padding: 80px 0;
}

.newsletter {
	padding: 80px 0;
	text-align: center;

	&__form {
		display: flex;
		justify-content: center;
		gap: 16px;
		flex-wrap: wrap;
	}

	&__input {
		min-width: 280px;
		padding: 12px;
	}
}
